<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        id: <%= result.id%> <!--想要写入js语法的地方,用<%= %>包裹,就是ejs结构-->
    </div>
</body>

</html>